.container{
  height: 30vh;
  display: flex;
  background-color: antiquewhite;
}

.item{
  flex:1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.title{
  font-size: 1.3rem;
}


@media screen and (max-width:480px) {

  .container{
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .item{
    flex-direction: column;
    align-items: center;
  }

  .item:last-child{
    padding-bottom: 20px;
  }

}