.container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.price{
  font-size: 1.3rem;
  font-weight: bold;
}

.desc{
  text-align: center;
}